fastapi==0.115.0
uvicorn[standard]==0.30.6
pymssql==2.3.0
pyiceberg[pyarrow,s3fs,sql-sqlite]==0.9.1
pandas==2.2.2
requests==2.32.3
python-multipart==0.0.9
jinja2==3.1.4
aiofiles==24.1.0
sqlalchemy==2.0.31